<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:jdbc="http://www.springframework.org/schema/jdbc"
xsi:schemaLocation="
http://www.springframework.org/schema/jdbc
http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="com.heiban" />

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/blackboard" />
		<property name="username" value="bbadmin" />
		<property name="password" value="heiban2014" />
	</bean>
	
	<!-- <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean> -->
	
	<!-- <tx:annotation-driven/> -->
	
	<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.max_fetch_depth">3</prop>
				<prop key="hibernate.jdbc.fetch_size">50</prop>
				<prop key="hibernate.jdbc.batch_size">10</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="packagesToScan" value="com.heiban.domain"/>
		<!-- <property name="annotatedClasses">
			<list>
				<value>com.heiban.domain.User</value>
				<value>com.heiban.domain.Course</value>
			</list>
		</property> -->
		<!-- <property name="mappingResources">
			<list>
				<value>com/aidu/mydoc/bo/DocNode.hbm.xml</value>
			</list>
		</property> -->
	</bean>
	
	<bean id="userDao" class="com.heiban.dao.hib.UserDaoHib">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- <bean id="hibernateUtil" class="org.hibernate.SessionFactory.HibernateUtil">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean> -->
	
	<!-- <bean id="docNodeDao" class="com.aidu.mydoc.dao.hibernate.DocNodeDaoHib">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean> -->
	
	<!--
	<bean id="helloAction" class="com.aidu.mydoc.struts.HelloAction" scope="prototype">
		<property name="docNodeDao" ref="docNodeDao"/>
	</bean>
	<bean id="docAction" class="com.aidu.mydoc.struts.DocAction" scope="prototype">
		<property name="docNodeDao" ref="docNodeDao"/>
	</bean>
	<bean id="contentAction" class="com.aidu.mydoc.struts.ContentAction" scope="prototype">
	</bean>
	<bean id="docPageAction" class="com.aidu.mydoc.struts.DocPageAction" scope="prototype">
	</bean> -->
</beans>