<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <!-- enable use-expressions -->
	<http auto-config="true">
      <intercept-url pattern="/mypage**" access="ROLE_USER" />
        <form-login
        	login-page="/login"
            username-parameter="username"
            password-parameter="password"
            default-target-url="/mypage"
            authentication-failure-url="/login?auth=fail" />
        <logout logout-url="/logout" logout-success-url="/logout" />        
    </http>
 
	<!-- Select users and user_roles from database -->
	<authentication-manager>
	  <authentication-provider>
		<!-- <jdbc-user-service data-source-ref="dataSource"
		  users-by-username-query=
		    "select username,password,from users where username=?"
		  authorities-by-username-query=
		    "select username, role from user_roles where username=?" /> -->
		  	<user-service>
				<user name="mkyong"
				password="123"
				authorities="ROLE_USER"/>
				
				<user name="alex"
				password="123"
				authorities="ROLE_USER"/>
			</user-service>
	  </authentication-provider>
	</authentication-manager>
 
</beans:beans>